/*GENERAL*/
body {
    margin: 0;
    width: auto;
    padding: 0 50px;
}

/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

/*Epaisseur*/
* {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

/*Taille*/
.taille1 {
    font-size: 22px;
}

.taille2 {
    font-size: 16px;
}

.taille3 {
    font-size: 14px;
}

/*LIENS*/
a {
    text-decoration: none;
    color: #000000;
}

/*IMAGES*/
img {
    object-fit: cover;
}


/*HEADER*/
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/*Logo*/
.header__logo {
    width: 61px;
    height: 19px;
}
/*Nav*/

/*Liste*/
nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    width: 300px;
}
/*Liens*/
.header__lien {
    text-decoration: none;
    color: #000000;
    display: flex;
    height: 60px;
    width: 130px;
    align-items: flex-end;
    justify-content: center;
}

.header__lien:hover {
    color:#0065FC;
    border-top: 2px solid #0065FC;
    height: 58px;
}
/*----------
    MAIN
-----------*/

/*--------TOP--------*/

/*Titres*/
.main__titres {
    margin: 55px 0 30px 0px;
}

.main__titres h1 {
    margin: 0 0 10px 0;
}

/*Formulaire de recherche*/
form {
    display: flex;
}
    /*Icone*/
.searchBar__icone {
    padding: 14px 18px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

    /*Input*/
.searchBar__input::placeholder {
    color: #000000;
}

.searchBar__input {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
    padding: 12px;
}

    /*Button*/
        /*Général*/
.searchBar__button {
    background: #0065FC;
    color: #FFFFFF;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding: 12px;
}

        /*Loupe*/
.button__loupe::before {
    display: none;
}

/*Filtres*/

.main__filtres {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

    /*Titre*/
.filtre__titre {
    padding-right: 15px;
}

    /*Boutons*/
        /*Général*/
.filtre__buttons {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

        /*Boutons séparés*/
.button__filtre {
    margin: 0 15px;
    padding: 10px 10px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background: #FFFFFF;
    align-items: center;
    display: flex;
}

.button__filtre:hover {
    background:#DEEBFF;
}

        /*Icones*/
.filtreIcone {
    color: #0065FC;
    padding-right: 12px;
}

/*Barre d'information*/
.infoBar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

    /*Icones*/
.infoBarIcone {
    display: flex !important;
    align-items: center;
    justify-content: center;

    width: 10px;
    height: 10px;
    padding: 5px;
    font-size: 11px;

    border: 1px solid #D9D9D9;
    border-radius: 15px;
    color: #0065FC;
}

    /*Texte*/
.infoBarTexte {
    margin-left: 15px;
}
/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*FOOTER*/

/*GENERAL*/
footer {
    display: flex;
    background:#F2F2F2;
    margin-top: 60px;
    padding-left: 45px;
}

/*DIV*/
.footerInfo {
    flex: 1;
}

/*LISTE*/
.liste {
    list-style-type: none;
    padding: 0;
}

.puce {
    line-height: 25px;
}  


